.mixer__container {
  display: flex;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 2px;
}

.mixer__configs {
  width: 50vw;
  height: 65vh;
}

.form__container-div .mixer__form {
  display: flex;
  flex-direction: column;
}

.mixer__configs {
  border: 1px solid black;
  border-radius: 2px;
}

.form__container-div {
  display: flex;
  flex-direction: column;
  /* width: 35vw; */
  margin: 10px 15px;
}

.form__label {
  margin: 5px 0;
}

input {
  margin: 2px 0;
}

.addMat {
  width: 100px;
  height: 25px;
}

.form__generate {
  align-self: center;
  margin: 10px 15px;
}

/*  */

.div__textareacontent {
  display: flex;
  padding: 5px 10px;
  border: 1px solid black;
  width: 50vw;
}

.textareacontent {
  min-width: 50vw;
  /* min-width: 30vw; */
  height: 60vh;
  resize: none;
  font-size: 20px;
}
